[submodule "freeink-sdk"]
	path = freeink-sdk
	url = https://github.com/Free-Ink/freeink-sdk.git
	branch = main
[submodule "third_party/microlink"]
	path = third_party/microlink
	url = https://github.com/CamM2325/microlink.git
